.btn-field {
  color: #fff;
  border: 2px solid #f1f1f1;
  padding: 0;
  margin: 0;
  width: 20vw;
  /* margin: 1rem 0.5rem;   */
}

.btn-link {
  color:#fff;
  text-decoration: none;
}
.btn-link:hover {
  color:#fff;
}

.btn-link p {
  margin: 0;
  padding: 10px;
  width: 100%;
  height: 100%;
}

/* .btn-field a:hover {
  cursor: pointer;
  color:#fff;
  background: transparent;
} */
