* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none;
}

@import url('./loading.css');
@import url('./task.css');
@import url('./popup.css');
@import url('./subtask.css');
@import url('./tooltip.css');