.navbar {
  background: linear-gradient(90deg, #ffffff 0%, rgb(9, 107, 255) 100%);
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  padding: 0 2rem;
  position: relative;
}

a:hover {
  color: rgb(9, 107, 255);
}

.navbar-logo {
  color: rgb(9, 107, 255);
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.logo-icon {
  width: 70px;
  margin-right: 0.5rem;
}

.logo-text h1 {
  font-weight: bold;
  font-size: 3rem;
}

.form-field {
  display: flex;
  justify-content: space-between;
  width: 50vw;
  gap:1rem;
  overflow: hidden;
}

.hide-form {
  display: none;
}

.menu-bar {
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 768px) {

  .form-field{
    display: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    width: 100%;
    top: 70px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .form-field.active {
    position: absolute;
    background-color: rgba(20, 113, 255, 0.8);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 999;
  }
  .input-field{
    width: 80vw;
  }
  .btn-field{
    width: 40vw;
    padding: 5px;
  }
  .logo-text h1 {
    font-weight: bold;
    font-size: 2rem;
  }
  .logo-icon {
    width: 60px;
    margin-right: 0.5rem;
  }
}
